@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');
:root {
  --primary-font:"Oranienbaum", serif;
  --color-bg: #e3e2e2;
  --btn-color: #333333;
  --btn-hover: #555;
  --border: 1px solid rgb(178, 178, 178);

}

body {
  margin: 0;
  font-family: var(--primary-font);
  background-color: var(--color-bg);
}

.header {
  display: flex;
  align-items: center;
  padding: 20px;
  position: sticky;
  background: white;
  border: var(--border);
  box-shadow: 0 0 4px rgba(0,0,0,0.2);

}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.burger span {
  width: 25px;
  height: 3px;
  background: #000;
  transition: 0.3s ease;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(80, 80, 80);
  font-weight: bold;
}

.intro-box{
  background: white;
  margin: 32px;
  padding: 32px;
  border: var(--border);
  text-align: center;
  height: 350px;
}

.quiz-box {
  background: white;
  margin: 32px;
  padding: 32px;
  border: var(--border);
  text-align: center;
}


.intro-box h1 {
  font-size: 40px;
}

.btn {
  display: inline-block;
  font-family: var(--primary-font);
  margin-top: 16px;
  padding: 12px 24px;
  background: var(--btn-color);
  color: white;
  text-decoration: none;
  transition: 0.3s;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: var(--btn-hover);
}

.btn-reset {
  margin-left: 10px;
  background: var(--btn-color);
  font-family: var(--primary-font);

}

.btn-reset:hover {
  background: var(--btn-hover);
}

.quiz-result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}


.detail-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: white;
  padding: 40px;
  border: var(--border);
  gap: 24px;
  margin: 50px;
}

.detail-text {
  color: #555;
}

.detail-image img {
  width: 250px;
  height: auto;
}

.celeb_container {
      margin-top: 50px;
      display: flex;
      gap: 40px;
      justify-content: center;
      flex-wrap: wrap;
    }

    .card {
      background: #f9f9f9;
      padding: 10px;
      box-shadow: 0 0 4px rgba(0,0,0,0.2);
      width: 300px;               
      height: 500px;              
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .card-inner {
      border: var(--border);
      padding: 10px;
      background: white;
      text-align: center;
      width: 90%;
      height: 90%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .card-inner img {
      width: 100%;
      height: 320px;              
      object-fit: cover;         
      border-radius: 2px;
    }

    .card-inner p {
      margin: 5px 0 0;
      font-size: 16px;
    }

@media (max-width: 420px) {
  .burger {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background: white;
    position: absolute;
    top: 60px;
    right: 10px;
    padding: 16px;
    border: 4px solid #c4c4c4;
  }

  .nav-links.open {
    display: flex;
  }

  .burger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .burger.active span:nth-child(2) {
    opacity: 0;
  }

  .burger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .detail-box {
    flex-direction: column;
    text-align: center;
  }
}
